<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Give me a Song!</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="icon" href="favicon.ico" />
    </head>

    <body>
        <div id="site">
            <div id="header" class="head-{% block header %}home{% endblock %}">
                <div id="ombre">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-1">
                                    <div id="logo"><a href="{{ path('gmas_music_homepage') }}"><img src="{{ asset('img/logo.png') }}"></a></div>
                                </div>
                                <div class="col-sm-11" id="login">
                                    <ul class="nav nav-pills pull-right">
                                        <li class="active"><a href="{{ path('gmas_music_homepage') }}">Accueil</a></li>
                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-user"></i> Déconnexion</a></li>
                                        {#<li><a href="{{ path('fos_user_profile_show') }}"><i class="glyphicon glyphicon-user"></i>  Mon compte</a></li>#}
                                        {% else %}
                                        <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                                        <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                                        {% endif %}
                                        {% if is_granted("ROLE_ADMIN") %}
                                        <li><a href="{{ path('gmas_music_admin_homepage') }}"><i class="glyphicon glyphicon-cog"></i>  Administration</a></li>
                                        <li>
                                            <a href="javascript:void(0);" id="addSong" class="green"><i class="glyphicon glyphicon-plus"></i></a>
                                            <div class="popover-markup">
                                                <div class="head hide"><strong>Ajouter une musique</strong></div>
                                                <div class="content hide" id="addSongcontent">
                                                    <div id="message_song"></div>
                                                    <div style="width: 180px; margin-left: 10px; margin-right: 10px;">{{ render(controller('GmasMusicBundle:Song:getCreateForm')) }}</div>
                                                </div>
                                            </div>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block body %}
        {% endblock %}

        <div id="footer">
            <div class="content">
            </div>

            {% block footer %}
            {% endblock %}

            <div id="links">
              <div id="top"><img src="{{ asset('img/top.png') }}" alt="Top" style="margin-top: -18px;"></div>
              <div class="container">
                <div class="col-sm-offset-2 col-sm-2">
                  <h2>Plan du site</h2>
                  <p><a href="{{ path('gmas_music_homepage') }}">Accueil</a><br />
                  {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                      <a href="{{ path('fos_user_registration_register') }}">Inscription</a><br />
                      <a href="{{ path('fos_user_security_login') }}">Connexion</a><br />
                  {% endif %}
                  {# <a href="#">Mon compte</a><br /> #}
                  <a href="mailto:contact@givemeasong.com">Contact</a></p>
                </div>
                <div class="col-sm-offset-1 col-sm-3">
                  <h2>Partenaire</h2>
                  <p><a href="http://www.givemeashow.net">Give me a Show</a></p>
                </div>
                <div class="col-sm-3">
                  <h2>Retrouvez-nous sur</h2>
                  <p><a href="https://www.facebook.com/givemeasong.official">Facebook</a><br />
                  <a href="https://twitter.com/GMASOfficial">Twitter</a></p>
                </div>
              </div>
            </div>
            <div id="foot">
              <div class="container">
                &copy; Copyright Give me a Song! 2013 - 2014 - Tous droits réservés - Design by <a href="http://www.colinecherbonnel.com/">Coline Cherbonnel</a> - Dev. by <a href="http://www.florianlepot.fr/">Florian Lepot</a>
              </div>
            </div>
            </div>
            <div class="clearfix"></div>
        </div>

        </body>
        </html>




        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

        <script>
        {% block script %}
        {% endblock %}
        </script>

        <script>
        {% if is_granted("ROLE_ADMIN") %}

        // Add a song (Header)
        $('#addSong').popover({
            html: true,
            placement: 'bottom',
            title: function () {
                return $('.popover-markup').find('.head').html();
            },
            content: function () {
                return $('.popover-markup').find('.content').html();
            }
        });


        // Ajouter aux favoris
        function addSong(){

            var youtubeidvalue = $("#gmas_musicbundle_songsmalltype_youtubeid").val();
            var categoryvalue = $("#gmas_musicbundle_songsmalltype_category").val();

            $.post('{{ path('gmas_music_admin_songs_ajax_add') }}',
                { youtubeid: youtubeidvalue, category: categoryvalue },

                function(response){
                    $('#message_song').html('<div class="alert alert-block alert-' + response.flash + '"><button type="button" class="close" data-dismiss="alert">&times;</button><p>' + response.text + '</p></div>');
                }, "json"
            );
        }

        {% endif %}


        // Analytics
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-41199690-1', 'givemeasong.net');
        ga('send', 'pageview');

        </script>
    </body>
</html>
