<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Give me a Song!</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="icon" href="favicon.ico" />

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="Give me a Song!" />
        <meta property="og:description" content="Tu sais jamais quoi écouter, t'as envie d'écouter de découvrir de nouveaux sons ? Give me a Song t'en propose des centaines en fonction de ton humeur ou d'un thème particulier que tu peux choisir ! Ramène toi sur www.givemeasong.com, inscris toi et fais tourner à tes potes !" />
        <meta property="og:url" content="http://www.givemeasong.com" />
        <meta property="og:image" content="{{ asset('img/logo_fb.png') }}" />
    </head>

    <body>
        <div id="fixed-menu" style="z-index:2;" class="hidden-phone">
            <div class="breadcrumb" style="text-align: center;">
                <p style="border-bottom: 2px solid #E9E9ED; padding-bottom: 5px;"><strong>Menu</strong></p>
                <p title="Retourner à l'accueil" style="border-bottom: 2px solid #E9E9ED; padding-bottom: 10px;"><a href="{{ path('gmas_music_homepage') }}" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a></p>
                <p title="Envoie tes meilleurs sons !"><a href="javascript:void(0);" id="add-song" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i></a></p>
                <div id="add-song-content">
                    <div class="head hide"><strong>Ajouter une musique</strong></div>
                    <div class="content hide">
                        <div id="message_song"></div>
                        <div style="width: 180px; margin-left: 10px; margin-right: 10px;">{{ render(controller('GmasMusicBundle:Song:getCreateForm')) }}</div>
                    </div>
                </div>
                <p title="Choisis ce que tu veux écouter !"><a href="javascript:void(0);" class="btn btn-warning" id="choose-playlists"><i class="glyphicon glyphicon-music"></i></a></p>
                {{ render(controller("GmasMusicBundle:Categories:getCategoriesTemplate")) }}

                <p style="border-bottom: 2px solid #E9E9ED; padding-bottom: 10px;" title="Découvre la télécommande !"><a href="{{ remote_url }}" class="btn btn-info" target="_blank"><i class="glyphicon glyphicon-signal"></i></a></p>
                <p title="Fais tourner Give me a Song à tes potes !"><a href="https://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=http://www.givemeasong.com" class="btn btn-primary" target="_blank"><i class="glyphicon glyphicon-share"></i></a></p>
            </div>
        </div>

        <div id="site">
            <div id="header" class="head-{% block header %}home{% endblock %}">
                <div id="ombre">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div id="logo"><a href="{{ path('gmas_music_homepage') }}"><img src="{{ asset('img/logo.png') }}"></a></div>
                                    </div>
                                    <div class="col-sm-8" id="login">
                                        <ul class="nav nav-pills pull-right">
                                            <li class="active"><a href="{{ path('gmas_music_homepage') }}">Accueil</a></li>
                                            {% if is_granted("ROLE_ADMIN") %}
                                            <li><a href="{{ path('gmas_music_admin_homepage') }}"><i class="glyphicon glyphicon-cog"></i>  Administration</a></li>
                                            <li>

                                            </li>
                                            {% endif %}
                                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-user"></i> Déconnexion</a></li>
                                            {#<li><a href="{{ path('fos_user_profile_show') }}"><i class="glyphicon glyphicon-user"></i>  Mon compte</a></li>#}
                                            {% else %}
                                            <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                                            <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% block body %}
        {% endblock %}

        <div id="footer">
            <div class="content">
            </div>

            {% block footer %}
            {% endblock %}

            <div id="links">
              <div id="top"><img src="{{ asset('img/top.png') }}" alt="Top" style="margin-top: -18px;"></div>
              <div class="container">
                <div class="col-sm-offset-2 col-sm-2">
                  <h2>Plan du site</h2>
                  <p><a href="{{ path('gmas_music_homepage') }}">Accueil</a><br />
                  {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                      <a href="{{ path('fos_user_registration_register') }}">Inscription</a><br />
                      <a href="{{ path('fos_user_security_login') }}">Connexion</a><br />
                  {% endif %}
                  {# <a href="#">Mon compte</a><br /> #}
                  <a href="mailto:contact@givemeasong.com">Contact</a></p>
                </div>
                <div class="col-sm-offset-1 col-sm-3">
                  <h2>Partenaire</h2>
                  <p><a href="http://www.givemeashow.net">Give me a Show</a></p>
                </div>
                <div class="col-sm-3">
                  <h2>Retrouvez-nous sur</h2>
                  <p><a href="https://www.facebook.com/givemeasong.official">Facebook</a><br />
                  <a href="https://twitter.com/GMASOfficial">Twitter</a></p>
                </div>
              </div>
            </div>
            <div id="foot">
              <div class="container">
                &copy; Copyright Give me a Song! 2013 - 2014 - Tous droits réservés - Design by <a href="http://www.colinecherbonnel.com/">Coline Cherbonnel</a> - Dev. by <a href="http://www.florianlepot.fr/">Florian Lepot</a>
              </div>
            </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
        <script src="{{ asset('js/smoothscrolling.js') }}"></script>

        <script>
        {% block script %}
        {% endblock %}
        </script>

        <script>
            $(function() {
                // Stick the #nav to the top of the window
                var nav = $('#fixed-menu');
                var navHomeY = nav.offset().top;
                var isFixed = false;
                var $w = $(window);
                $w.scroll(function() {
                    var scrollTop = $w.scrollTop();
                    var shouldBeFixed = scrollTop > 300;
                    if (shouldBeFixed && !isFixed) {
                        nav.css({
                            position: 'fixed',
                            top: 100,
                            left: 17,
                            width: 80
                        });
                        isFixed = true;
                    }
                    else if (!shouldBeFixed && isFixed)
                    {
                        nav.css({
                            position: 'absolute',
                            left: 17,
                            top: 420,
                            width: 80,
                        });
                        isFixed = false;
                    }
                });
            });
        </script>

        <script>

        // Add a song (Header)
        $('#add-song').popover({
            html: true,
            placement: 'right',
            title: function () {
                return $('#add-song-content').find('.head').html();
            },
            content: function () {
                return $('#add-song-content').find('.content').html();
            }
        });

        // Add a song (Header)
        $('#choose-playlists').popover({
            html: true,
            placement: 'right',
            title: function () {
                return $('#choose-playlists-content').find('.head').html();
            },
            content: function () {
                return $('#choose-playlists-content').find('.content').html();
            }
        });


        // Ajouter aux favoris
        function addSong(){

            var youtubeidvalue = $("#gmas_musicbundle_songsmalltype_youtubeid").val();
            var categoryvalue = $("#gmas_musicbundle_songsmalltype_category").val();

            {% if is_granted("ROLE_ADMIN") %}
                $.post('{{ path('gmas_music_admin_songs_ajax_add') }}',
                    { youtubeid: youtubeidvalue, category: categoryvalue },

                    function(response){
                        $('#message_song').html('<div class="alert alert-block alert-' + response.flash + '"><button type="button" class="close" data-dismiss="alert">&times;</button><p>' + response.text + '</p></div>');
                    }, "json"
                );
            {% else %}
                $.post('{{ path('gmas_music_songs_ajax_add') }}',
                    { youtubeid: youtubeidvalue, category: categoryvalue },

                    function(response){
                        $('#message_song').html('<div class="alert alert-block alert-' + response.flash + '"><button type="button" class="close" data-dismiss="alert">&times;</button><p>' + response.text + '</p></div>');
                    }, "json"
                );
            {% endif %}
        }

        // Analytics
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-41199690-1', 'givemeasong.net');
        ga('send', 'pageview');

        </script>
    </body>
</html>
