<!-- Modal -->
<div id="trailer">
    <div class="col-sm-3 small"></div>
    <div class="col-sm-6 big">
      <i class="glyphicon glyphicon-play"></i> <span id="actual" style="font-size: 36px; ">{{ song.name }}</span>
    </div>
    <div class="col-sm-3 small"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12" id="messages">
      {% for key, flash in app.session.getFlashBag() %}
          <div class="alert alert-{{ key }}">
            {% for flashh in flash %}
              {{ flashh }}
            {% endfor %}
          </div>
      {% endfor %}
    </div>
  </div>

  <div class="row" id="listen">
    <div class="message" style="display:none;"></div>
    <div class="col-sm-2 actions">
      <a onclick="changeToPreviousVideo();" href="#" class="btn btn-warning btn-lg"><i class="glyphicon glyphicon-chevron-left"></i> Précédent</a>
    </div>
    <div class="col-sm-8" style="margin-top: 30px;">
      <div id="message"></div>
      <div id="player"></div>
    </div>
    <div class="col-sm-2 actions">
      <a onclick="changeToNextVideo();" href="#/listen/1" class="btn btn-success btn-lg">Suivant <i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
  </div>

  {% if userSong == false %}
    <div class="row" id="likes">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <a href="javascript:void(0);" onclick="addToFavorites();" class="btn btn-danger"><i class="glyphicon glyphicon-heart"></i> Favoris</a>
        <a href="javascript:void(0);" onclick="neverAgain();" class="btn btn-black"><i class="glyphicon glyphicon-minus-sign"></i> Plus jamais</a>
      </div>
      <div class="col-sm-3"></div>
    </div>
  {% endif %}

  {#<div class="row" id="suggest">
    <div class="col-sm-12">
      <a href="#myModal" role="button" data-toggle="modal" class="btn btn-link">Proposer un son</a>
    </div>
  </div>#}

  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

    <div class="checkbox" style="margin-top: 30px; margin-left: auto; margin-right: auto; width: 250px;">
      <label>
        <input type="checkbox" id="telecommande"> <strong>Activer la télécommande</strong>
      </label>
    </div>

    <div class="row" id="remote-link">
      <div style="width: 230px; margin-left: auto; margin-right: auto; margin-bottom: 13px;"><a href="{{ remote_url }}" target="_blank">Accéder à la télécommande</a></div>
    </div>

    <div class="row" id="remote-block">
      <form class="form-inline" role="form" style="width: 160px; margin-left: auto; margin-right: auto;">
        <div class="form-group">
          <label class="control-label">Code</label>
          <input class="form-control" id="remotekey" type="text" style="width: 80px;" disabled>
        </div>
      </form>
    </div>

  {% endif %}

</div>


  <div class="hide">
    <input id="songName" type="hidden" value="{{ song.name }}">
  </div>

<script>
var actualSongId = {{ song.id }};
var actualSongYoutubeid = '{{ song.youtubeid }}';
var actualSongName = '{{ song.name }}';

// Ajouter aux favoris
function addToFavorites(){

  $.get('{#{{ path('gmas_music_songs_ajax_like', { youtubeid: song.youtubeid }) }}#}',
    function(response){
      if(response.code == 100 && response.success){
        $('.message').html('<div id="flash" class="alert alert-' + response.flash + '"><button type="button" class="close" data-dismiss="alert">&times;</button><p>' + response.text + '</p></div>');
        $('.message').show();
      }
      else {
        $('.message').html('<div id="flash" class="alert alert-' + response.flash + '"><button type="button" class="close" data-dismiss="alert">&times;</button><p>' + response.text + '</p></div>');
        $('.message').show();
      }
    }, "json"
  );
}

// Ajouter aux hates
function neverAgain(){

  $.get('{#{{ path('gmas_music_songs_ajax_hate', { youtubeid: song.youtubeid }) }}#}',
    function(response){
      if(response.code == 100 && response.success){
        $('.message').html('<div id="flash" class="alert alert-' + response.flash + '"><button type="button" class="close" data-dismiss="alert">&times;</button><p>' + response.text + '</p></div>');
        $('.message').show();
      }
      else {
        $('.message').html('<div id="flash" class="alert alert-' + response.flash + '"><button type="button" class="close" data-dismiss="alert">&times;</button><p>' + response.text + '</p></div>');
        $('.message').show();
      }
    }, "json"
  );
}



// Chargement de la vidéo Youtube et des diverses fonctionnalités
var tag = document.createElement('script');

tag.src = "//www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

var player;
var force = 0;

function loadVideo(response) {
  actualSongId = response.song_id;
  actualSongYoutubeid = 'response.youtubeid';
  $("#songName").val(response.song_name);
  $("#actual").html(response.song_name);
  player.loadVideoById(response.youtubeid);

  $.post('{#{{ path('gmas_music_songs_ajax_setlistenedsong') }}#}', { 'id': actualSongId },
    function(response){ }, "json"
  );
}

function changeToNextVideo(force) {
  /*
  - Gérer l'id dans les hates & likes (Juste à utiliser la variable stockée précédemment pour ça en JS et appeler la même méthode qu'avant en Ajax) + Changer dans le controller
  */
  $.post('{#{{ path('gmas_music_songs_ajax_getnextyoutubeid') }}#}', { 'id': actualSongId },
    function(response){
      if(response.code == 100 && response.success){
        if(force == 1) {
          $.post('{#{{ path('gmas_music_songs_ajax_setnextedsong') }}#}', { 'id': actualSongId },
            function(responseosef){ }, "json"
          );
        }

        loadVideo(response);
        socket.emit('listening', { title: $('#songName').val() });
      }
      else if(response.code == 100 && response.success == false) {
        window.location.href = "{#{{ path('gmas_music_homepage') }}#}";
      }
    }, "json"
  );
}

function changeToPreviousVideo() {
  $.post('{#{{ path('gmas_music_songs_ajax_getpreviousyoutubeid') }}#}', { 'id': actualSongId },
    function(response){
      if(response.code == 100 && response.success){
        loadVideo(response);
        socket.emit('listening', { title: $('#songName').val() });
      }
      else if(response.code == 100 && response.success == false) {
        window.location.href = "{#{{ path('gmas_music_homepage') }}#}";
      }
    }, "json"
  );
}


function onYouTubeIframeAPIReady() {
  player = new YT.Player('player', {
    height: '360',
    width: '640',
    videoId: '{{ song.youtubeid }}',
    events: {
      'onReady': onPlayerReady,
      'onStateChange': onPlayerStateChange,
      'onError': changeVideo
    }
  });
}

function onPlayerReady(event) {
  event.target.playVideo();
}

function onPlayerStateChange(event) {
  if(event.data == 0) {
    changeToNextVideo();
  }
}

function changeVideo(event) {
  if(event.data == 2 || event.data == 100 || event.data == 101 || event.data == 150 || event.data == 0) {
    $.post('{#{{ path('gmas_music_songs_ajax_deadlink', { 'youtubeid': song.youtubeid }) }}#}',
            function(response){ }, "json"
        );
  }

  setTimeout(
    function()
    {
      changeToNextVideo();
    });
}

var pause = false;

function stopVideo() {
  player.stopVideo();
}

function pauseVideo() {
  player.pauseVideo();
}

function playVideo() {
  player.playVideo();
}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

  var remoteid = 0;
  $("#remote-block").hide();
  $("#remote-link").hide();

  $("#telecommande").on('click', function() {
    if(remoteid == 0){
      $("#remote-block").show();
      $("#remote-link").show();
    }
    else{
      $("#remote-block").hide();
      $("#remote-link").hide();
    }

    remoteid = (remoteid + 1) % 2;
  });

  // Connexion à mob.givemeasong.net sur le port 1337
  var socket = io.connect('{{ ip }}:1337');

  // Envoi des 2 commandes au serveur pour s'ajouter à la liste des desktops
  socket.emit('join-server', { session: '{{ id_session }}', ident: '{{ app.user.username }}'} );
  socket.emit('listening', { title: $('#songName').val() });
  socket.emit('get-remote-key');

  // Dès que la commande "next" est reçue :
  socket.on('next', function () {
    if($("#telecommande").prop("checked")) {
      changeToNextVideo();
    }
  });

  socket.on('previous', function () {
    if($("#telecommande").prop("checked")) {
      changeToPreviousVideo();
    }
  });

  socket.on('get-remote-key', function(data) {
    console.log(data);
    $("#remotekey").val(data);
    $("#remotekey").attr('style', 'width: 58px;');
  });

  socket.on('pause', function () {
    if($("#telecommande").prop("checked")) {
      if(pause == false) {
        pauseVideo();
        pause = true;
      }
      else {
        playVideo();
        pause = false;
      }
    }
  });
{% endif %}


// Raccourcis clavier
KEY_LEFT  = 37;
KEY_RIGHT = 39;

function changeOnKeyDown(_event_)
{
  var myEvent = checkEventObj(_event_);
  var keyCode = myEvent.keyCode;
  if (keyCode == KEY_RIGHT)
    changeToNextVideo(1);
  else if (keyCode == KEY_LEFT)
    changeToPreviousVideo();
}

function checkEventObj ( _event_ ){
  // --- IE explorer
  if ( window.event )
    return window.event;
  // --- Netscape and other explorers
  else
    return _event_;
}

document.onkeydown = changeOnKeyDown;

// Tooltips
$('[data-rel=tooltip]').tooltip();

</script>