{% block extends %}
{{ "{% extends \"FLStuffManagerBundle::layout.html.twig\" %}" }}
{% endblock extends %}

{{ "{% block menu__TODO__ %}class=\"active\"{% endblock %} "}}
{{ "{% block menu__TODO__TODO__ %}class=\"active\"{% endblock %} "}}

{% block body %}
{{ "{% block body %}" }}
<ul class="breadcrumb">
  <li><a href="{{ "{{ path('homepage') }}" }}"><i class="fa fa-home"></i> Accueil</a></li>
  <li><a href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}">{{ entity }}</a></li>
  <li class="active">Liste des {{ entity }}</li>
</ul>

<div class="row">
  <div class="col-sm-12">
    <section class="panel">
      <header class="panel-heading">
        Liste des {{ entity }}
        <span class="tools pull-right">
          <a href="javascript:;" class="fa fa-chevron-down"></a>
        </span>
      </header>
      <div class="panel-body">

      <table class="table table-hover general-table tasks">
        <thead>
            <tr>

            {%- for field, metadata in fields %}

                <th>{{ field|capitalize }}</th>

            {%- endfor %}

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {{ '{% for entity in entities %}' }}
          <tr>

          {%- for field, metadata in fields %}

            {%- if loop.first and ('show' in actions) %}

              <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity.id }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

            {%- elseif metadata.type in ['date', 'datetime'] %}

              <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'d/m/Y\') }}{% endif %}' }}</td>

            {%- else %}

              <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

            {%- endif %}

            {%- if loop.last %}

              <td>

                {%- include "crud/views/others/actions.html.twig.twig" %}

              </td>

            {%- endif %}

          {%- endfor %}

          </tr>
        {{ '{% endfor %}' }}
        </tbody>
      </table>

    {% if 'new' in actions %}
<a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}" class="btn btn-success">
        Créer un {{ entity }}
      </a>
    </section>
  </div>
</div>
      {% endif %}
{{ "{% endblock %}" }}
{% endblock body %}
