{% extends "GmasMusicBundle::layout_admin_new.html.twig" %}

{% block nav_music %}
class="active open"
{% endblock %}

{% block nav_music_deadlinks %}
class="active"
{% endblock %}

{% block body %}

<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="{{ path('gmas_music_admin_homepage') }}">Accueil</a>

      <span class="divider">
        <i class="icon-angle-right arrow-icon"></i>
      </span>
    </li>
    <li>
      <a href="{{ path('gmas_music_admin_songs_list') }}">Musiques</a>

      <span class="divider">
        <i class="icon-angle-right arrow-icon"></i>
      </span>
    </li>
    <li class="active">Liste des liens morts</li>
  </ul><!--.breadcrumb-->

  <div class="nav-search" id="nav-search">
    <form class="form-search">
      <span class="input-icon">
        <input type="text" placeholder="Rechercher" class="input-small nav-search-input" id="nav-search-input" autocomplete="off" />
        <i class="icon-search nav-search-icon"></i>
      </span>
    </form>
  </div><!--#nav-search-->
</div>

<div class="page-content">
  <div class="page-header position-relative">
    <h1>
      Musiques
      <small>
        <i class="icon-double-angle-right"></i>
        Liste des liens morts
      </small>
    </h1>
  </div><!--/.page-header-->

{% for key, flash in app.session.getFlashBag() %}
    <div class="alert alert-{{ key }}">
      {% for flashh in flash %}
        {{ flashh }}
      {% endfor %}
    </div>
{% endfor %}

<div id="message" style="display:none;">
</div>

<p>Il y a <strong>{{ songs|length }}</strong> liens morts en tout.</p>

<table id="table-all" class="table table-striped table-hover table-condensed">
  <thead>
    <th>#</th>
    <th>Actuel</th>
    <th>Action</th>
    <th>Remplaçant</th>
    <th>Stats</th>
  </thead>
  <tbody>
    {% for song in songs %}
      <tr {% if song.deadlink %} class="error"{% endif %} id="tr-{{ song.id }}">
        <td>{{ song.id }}</td>
        <td style="width:30%"><a href="http://www.youtube.com/watch?v={{ song.youtubeid }}">{{ song.name }}</a></td>
        <td>
          <a class="btn btn-mini btn-success tooltipperso tooltip-success" data-rel="tooltip" title="Remplacer" onclick="replaceSong('{{ song.youtubeid }}', '{{ newSong[song.id].youtubeid }}', 'tr-{{song.id}}');"><i class="icon-white icon-exchange"></i></a>
          <a class="btn btn-mini btn-warning tooltipperso tooltip-warning" data-rel="tooltip" title="Liste de choix" href=""><i class="icon-white icon-list"></i></a>
          <a class="btn btn-mini btn-inverse tooltipperso tooltip-inverse" data-rel="tooltip" title="Garder l'ancien" onclick="keepSong('{{ song.youtubeid }}', 'tr-{{song.id}}');"><i class="icon-white icon-ok"></i></a>
        </td>
        <td style="width:30%"><a href="http://www.youtube.com/watch?v={{ newSong[song.id].youtubeid }}">{{ newSong[song.id].name }}</a></td>
        <td>
          <span class="badge badge-info tooltipperso tooltip-info" data-rel="tooltip" title="Nombre de vues">{{ song.stats.views }}</span>
          <span class="badge badge-success tooltipperso tooltip-success" data-rel="tooltip" title="Nombre de favoris">{{ song.stats.favorites }}</span>
          <span class="badge badge-warning tooltipperso tooltip-warning" data-rel="tooltip" title="Nombre de next">{{ song.stats.nexts }}</span>
          <span class="badge badge-important tooltipperso tooltip-error" data-rel="tooltip" title="Nombre de hates">{{ song.stats.hates }}</span>
        </td>
        
      </tr>
    {% endfor %}
  </tbody>
</table>

<hr>

{% endblock %}

{% block jScript %}
<script type="text/javascript">
// Remplacer
function replaceSong(v_youtubeid, v_youtubeid_new, trid){
  $.get('{{ path('gmas_music_songs_ajax_deadlinks_replace') }}/' + v_youtubeid + '/' + v_youtubeid_new,

    function(response){
      $('#message').html('<div id="flash" class="alert alert-block alert-' + response.flash + '"><button type="button" class="close" data-dismiss="alert">&times;</button><p>' + response.text + '</p></div>');
      $('#message').show();
    }, "json"
  );

  $("#" + trid).attr('class', 'success');
}
</script>
<script type="text/javascript">
// Remplacer
function keepSong(v_youtubeid, trid){
  $.get('{{ path('gmas_music_songs_ajax_deadlinks_keep') }}/' + v_youtubeid,

    function(response){
      $('#message').html('<div id="flash" class="alert alert-block alert-' + response.flash + '"><button type="button" class="close" data-dismiss="alert">&times;</button><p>' + response.text + '</p></div>');
      $('#message').show();
    }, "json"
  );

  $("#" + trid).attr('class', 'success');
}
</script>

<script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('js/jquery.dataTables.bootstrap.js') }}"></script>

<script type="text/javascript">
  jQuery(function($) {
    var oTable1 = $('#table-all').dataTable( {
      "aoColumnDefs": [
          { "bSearchable": false, "aTargets": [ 3, 4 ] },
      ],
      "aLengthMenu": [[15, 50, 100, -1], [15, 50, 100, "All"]],
      "iDisplayLength": 15
       } );
  })
</script>

<script type="text/javascript">
  $('[data-rel=tooltip]').tooltip();
</script>
{% endblock %}
