{% block form_row %}
{% spaceless %}
<div class="form-group">
    {{ form_widget(form) }}
</div>
{% endspaceless %}
{% endblock form_row %}


{% block text_widget %}
    <input type="text" {{ block('attributes') }} {{ block('widget_attributes') }} class="form-control" value="{{ value }}" />
{% endblock %}

{% block choice_widget_collapsed %}
{% spaceless %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} class="form-control" style="margin-top: -6px;">
        {% if empty_value is not none %}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('choice_widget_options') }}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{ block('choice_widget_options') }}
    </select>
{% endspaceless %}
{% endblock choice_widget_collapsed %}