{% extends "GmasRemoteBundle::layout.html.twig" %}

{% block body %}
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header">Télécommande</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="well">
        <p style="text-align: center; font-size: 16px;">
              <strong>Session courante :</strong> <span id="session"><em>Chargement ...</em></span>
          <br /><br />
        </p>

        <p style="text-align: center; font-size: 16px;">
          <strong>A l'&eacute;coute :</strong><br />
          <span id="listening"><em>Chargement ...</em></span>
          <br /><br />
        </p>

        <p style="text-align: center; font-size: 16px;">
          <button id="previous" type="button" class="btn btn-warning btn-lg">&larr; Pr&eacute;cedent</button>
          <button id="pause" type="button" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-pause"></span></button>
          <button id="next" type="button" class="btn btn-success btn-lg">Suivant &rarr;</button>

          <br /><br />

          <button id="refresh" type="button" class="btn btn-primary" style="margin-right: 10px;">
            <span class="glyphicon glyphicon-refresh"></span> Rafraichir
          </button>
          <a class="btn btn-info" href="{{ path('remote_home') }}" style="margin-left: 10px;">
            <i class="glyphicon glyphicon-retweet"></i> Changer de session
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
  <script type="text/javascript">
      var socket = io.connect('{{ ip }}:1337');
      var remotekey;

      socket.on('listening', function (data) {
        $('#listening').html(data.title);
      });

      socket.on('get-remote-key', function (data) {
          remotekey = data;
      });

      socket.on('disconnected', function () {
        window.location.href = "{{ path('remote_home') }}";
      });

      $('#previous').click(function () {
          socket.emit('previous');
      });

      $('#next').click(function () {
          socket.emit('next');
      });

      $('#pause').click(function () {
          socket.emit('pause');
      });

      $('#refresh').click(function () {
          $('#listening').html('<em>Chargement ...</em>');
          socket.emit('refresh');
          //location.reload();
      });

      function getURLParameter(name) {
          return decodeURI(
              (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
          );
      }

      var session = '{{ session }}';
      var ident = '{{ ident }}';
      $('#session').html('<em>' + ident +'</em>');
      socket.emit('join-mobile', { session: session});
  </script>
{% endblock %}