<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Give me a Song!</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="icon" href="favicon.ico" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta property="og:title" content="Give me a Song!" />
        <meta property="og:description" content="Tu sais jamais quoi écouter, t'as envie d'écouter de découvrir de nouveaux sons ? Give me a Song t'en propose des centaines en fonction de ton humeur ou d'un thème particulier que tu peux choisir ! Ramène toi sur www.givemeasong.com, inscris toi et fais tourner à tes potes !" />
        <meta property="og:url" content="http://www.givemeasong.com" />
        <meta property="og:image" content="{{ asset('img/logo_fb.png') }}" />
    </head>

    <body id="header" class="head-planer-1-lg">
        <div id="site">
            <div id="header" class="head-{% block header %}planer-1-lg{% endblock %}">
                <div id="ombre">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div id="logo" style="margin-left: auto; margin-right: auto;"><a href="{{ path('remote_home') }}"><img src="{{ asset('img/logo.png') }}"></a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        <script src="{{ asset('js/jquery-2.0.3.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/socket.io.min.js') }}"></script>

        {% block scripts %}{% endblock %}
    </body>
</html>